@import "tailwindcss";
@import "@heroui/react/styles";
@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: currentcolor;
	}
}

body {
	margin: 0;
	height: 100%;
	overflow: hidden;
}
